<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="#">
            <img src="https://www.learnlytica.com/logo.png?v=14" alt="" width="260" height="60"
                style="margin-left: 55%;">
        </a>



        <form class="d-flex">

            <a class="nav-link active text-primary" href="/course">CourseLibrary</a>

            <a class="nav-link active text-primary" href="#">Services</a>
                
             
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>

</nav>