<!-- <div class="dropdown" style="margin-top: 3%; margin-left: 10%;;">
  <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
    aria-expanded="false">
    Dropdown
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button">Big Data</button></li>
    <li><button class="dropdown-item" type="button">Cloud Computing</button></li>
    <li><button class="dropdown-item" type="button">Machine Learning</button></li>
    <li><button class="dropdown-item" type="button">Micro Services</button></li>
    <li><button class="dropdown-item" type="button">Programming</button></li>
    <li><button class="dropdown-item" type="button">Test your Knowledge</button></li>
    <li><button class="dropdown-item" type="button">Testing</button></li>

  </ul>
</div> -->
<br>
<br>

<div class="container">
  <div class="card" style="width: 80%;">
    <img [src]="imgUrl" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{configs['spayee:title']}} -MRP <span>{{configs['spayee:price']}}</span></h5>
      <!-- <span><b>course Date: </b> {{courseDate|date:'MM/dd/y'}} </span>  -->
      <p class="card-text">{{configs['spayee:publisher']}}</p>
     
    </div>
  </div>
</div>